col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;


}
.container{
    max-width: 1500px;
    margin: auto;
    padding: .2em;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate{
    font-size: .65em;
}


.card .card-header-new .card-icon,
.card .card-header-new .card-text,
.card .card-header-new:not(.card-header-icon):not(.card-header-text),
.card.bg-new,
.card.card-rotate.bg-new .front,
.card.card-rotate.bg-new .back {
  background: linear-gradient(60deg, #0000FF, #7D7DF1);
}

.card .card-header-assigned .card-icon,
.card .card-header-assigned .card-text,
.card .card-header-assigned:not(.card-header-icon):not(.card-header-text),
.card.bg-assigned,
.card.card-rotate.bg-assigned .front,
.card.card-rotate.bg-assigned .back {
  background: linear-gradient(60deg, #1E6FA6, #5473CE);
}


.card .card-header-open .card-icon,
.card .card-header-open .card-text,
.card .card-header-open:not(.card-header-icon):not(.card-header-text),
.card.bg-open,
.card.card-rotate.bg-open .front,
.card.card-rotate.bg-open .back {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}


.card .card-header-closed .card-icon,
.card .card-header-closed .card-text,
.card .card-header-closed:not(.card-header-icon):not(.card-header-text),
.card.bg-closed,
.card.card-rotate.bg-closed .front,
.card.card-rotate.bg-closed .back {
  background: linear-gradient(60deg, #008000, #15DA15);
}


.card .card-header-cancelled .card-icon,
.card .card-header-cancelled .card-text,
.card .card-header-cancelled:not(.card-header-icon):not(.card-header-text),
.card.bg-cancelled,
.card.card-rotate.bg-cancelled .front,
.card.card-rotate.bg-cancelled .back {
background: linear-gradient(60deg, #ef5350, #e53935);
}


.card .card-header-verified .card-icon,
.card .card-header-verified .card-text,
.card .card-header-verified:not(.card-header-icon):not(.card-header-text),
.card.bg-verified,
.card.card-rotate.bg-verified .front,
.card.card-rotate.bg-verified .back {
background: linear-gradient(60deg, #0C420C, #0C710C);
}


.card .card-header-verified .card-icon,
.card .card-header-verified:not(.card-header-icon):not(.card-header-text),
.card .card-header-verified .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}


.card .card-header-new .card-icon,
.card .card-header-new:not(.card-header-icon):not(.card-header-text),
.card .card-header-new .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.card .card-header-closed .card-icon,  bottom: -10%;
.card .card-header-closed:not(.card-header-icon):not(.card-header-text),
.card .card-header-closed .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.card .card-header-assigned .card-icon,
.card .card-header-assigned:not(.card-header-icon):not(.card-header-text),
.card .card-header-assigned .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}


.card .card-header-cancelled .card-icon,
.card .card-header-cancelled:not(.card-header-icon):not(.card-header-text),
.card .card-header-cancelled .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

.card .card-header-open .card-icon,
.card .card-header-open:not(.card-header-icon):not(.card-header-text),
.card .card-header-open .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1200px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-content {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    max-width: 300px;
  }
}
.h4 .card-title{
    font-size: 1rem;
}
h5 .card-title{
    font-size: .75rem;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2be2c7;

  width: 500px;
  height: 500px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  z-index: 6;
    position : absolute;
    right: 30%;
    bottom: 35%;
}

.loader_container {
  z-index: 5;
  position : absolute;
  bottom: 50%;
  left: 0%;
  top: 50%;
  align-items: center;
  vertical-align: middle;
  margin: auto;;
  width: 25%;
  font-size: 2em;
  background: black;
  height: 3500px;
  width:  1400px;
  vertical-align: middle;
  text-align: center;
  padding-top: 220px;
  opacity: .75;

}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#htmlout {
  height: 500px;
  overflow: scroll;
}
